.box_section {
   width: 80%;
   background-color: #fff;
   border-radius: 3px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 10px 20px;
   margin: 20px 0px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}