.footer {
   background-color: white;
   position: fixed;
   bottom: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.footer .media {
   width: 50%;
   display: flex;
   justify-content: flex-start;
   align-content: flex-end;
   padding-left: 20px;
}

.footer .copyright {
   width: 50%;
   color: black;
   font-size: 12px;
   display: flex;
   text-align: center;
   justify-content: flex-end;
   user-select: none;
}

.footer .copyright p {
   display: flex;
   justify-content: flex-end;
   padding-right: 20px;
}

.footer .media a {
   padding: 0 7px;
   font-size: 20px;
   color: black;
}

/* Mobile size only */
@media only screen and (max-width: 600px) {
   .footer {
      flex-direction: column;
   }

   .footer .media {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 10px;
      padding-left: 0;
   }

   .footer .media a {
      padding: 10px 15px;
   }

   .footer .copyright {
      width: 100%;
      justify-content: center;
   }

   .footer .copyright p {
      padding-right: 0;
   }
}