.logo {
   width: 100%;
   animation: flip 1s infinite;
}

.logo_svg {
   width: 100%;
}

.st1 {
   fill: #60C6F2;
}

.st2 {
   fill: #FFFFFF;
}

.st3 {
   fill: #96D6F7;
}

.st4 {
   fill: #0098D7;
}

.st5 {
   fill: #00AFEA;
}

/* Flip animation */
@keyframes flip {
   0% {
      transform: scale(1) rotate(360deg);
   }

   80% {
      transform: scale(.5) rotate(0deg);
   }

   100% {
      transform: scale(1);
   }
}