.main {
   --black: #1e1e1e;
   --white: white;
   --main-background: #f5f5f5;
   --dark-background: #1e1e1e;
   --light-text: #f5f5f5;
   --dark-text: #1e1e1e;
   --shadow: rgb(0, 0, 0, 0.2);

   display: flex;
   align-items: flex-start;
   justify-content: center;
   margin-bottom: 30px;
   margin-top: 100px;
}

.container {
   padding-top: 100px;
}

.go_back {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 10px;
   padding: 10px 0px;
   background-color: white;
   border-radius: 3px;
   box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
   transition: 0.1s;
}

.go_back .icon {
   display: flex;
   align-items: center;
   transition: 0.1s;
}

.go_back .text {
   display: flex;
   align-items: center;
   font-size: 18px;
}

.go_back:hover {
   box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

.go_back:hover .icon {
   transform: translateX(-10px);
}