.main {
  --black: #1e1e1e;
  --white: white;
  --main-background: #f5f5f5;
  --dark-background: #1e1e1e;
  --light-text: #f5f5f5;
  --dark-text: #1e1e1e;
  --shadow: rgb(0, 0, 0, 0.2);

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 100px;
}

.container {
  width: 100%;
}