.not-found {
   --black: #1e1e1e;
   --white: white;
   --main-background: #f5f5f5;
   --dark-background: #1e1e1e;
   --light-text: #f5f5f5;
   --dark-text: #1e1e1e;
   --shadow: rgb(0, 0, 0, 0.2);

   width: 100vw;
   height: calc(100vh - 150px);
   display: flex;
   align-items: flex-start;
   justify-content: center;
   padding-top: 100px;
}

.go-back {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 10px;
   padding: 10px 0px;
   background-color: white;
   border-radius: 3px;
   box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
   transition: 0.1s;
}

.go-back .icon {
   display: flex;
   align-items: center;
   transition: 0.1s;
}

.go-back .text {
   display: flex;
   align-items: center;
   font-size: 18px;
}

.go-back:hover {
   transform: translateX(-1px) translateY(-1px);
   box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.2);
}

.go-back:hover .icon {
   transform: translateX(-10px);
}