.burger-menu {
  display: flex;
  flex-direction: column;
}

.burger-menu .line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
  transition: all 0.3s ease;
}

.burger-menu.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.active .line:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}